
@{

}
    <div class="container calculator-box">
        <div class="form-check">
            <div class="align-items-center">
                <img src="~/img/container/ваыпвап.jpg" data-toggle="tooltip" data-placement="top" title="Укажите объявленную стоимость груза для расчета суммы страхования. Услуга «Страхование груза» позволяет компенсировать убытки, связанные с повреждением или утратой груза при наступлении страхового случая." class="img-fluid" alt="">
                <label class="form-check-label" for="exampleCheck2">
                    Страхование груза:
                    <input type="checkbox" id="exampleCheck2" checked />
                    <span class="default"></span>
                </label>
                <label class="form-check-label" for="exampleCheck2">Страхование груза: </label>
            </div>
            <input type="checkbox" class="form-check-input" id="exampleCheck2">
        </div>
        <hr />
        <br />

        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <div class="align-items-center">
                        <label for="InputValueCarge">Объявленная ценность груза: </label>
                        <img src="~/img/container/ваыпвап.jpg" data-toggle="tooltip" data-placement="top" title="Cтраховая премия составляет 0,0012-0,0015 или 0,12-0,15% от объявленной ценности груза, и может быть фиксированной для данного перевозчика на все перевозки" class="img-fluid" alt="">
                    </div>
                    <div class="input-group">
                        <input type="number" class="form-control" id="InputValueCarge" min="0" required>

                        <div class="input-group-append">
                            <span class="input-group-text">руб</span>
                        </div>
                        <div class="invalid-feedback">
                            Введите ценность груза.
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <div class="align-items-center">
                        <label for="CustomSelectShipLoad">Способы погрузки: </label>
                        <img src="~/img/container/ваыпвап.jpg" class="img-fluid" alt="">
                    </div>
                    <select class="custom-select" id="CustomSelectShipLoad" name="TypeOfShipLoad" required>
                        <option value="">Выбор</option>
                        <option value="1">Ручной способ</option>
                        <option value="2">Механизированный способ</option>
                    </select>
                    <div class="invalid-feedback">
                        Выберите способ перевозки.
                    </div>
                </div>

            </div>
            <br />
            <button id="btnToApply" type="submit" class="btn btn-primary">Оформить заявку</button>
            <br />
        </form>
    </div>

<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta name="generator" content="2018.1.0.386" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script type="text/javascript">
    // Update the 'nojs'/'js' class on the html node
    document.documentElement.className = document.documentElement.className.replace(/\bnojs\b/g, 'js');

    // Check that all required assets are uploaded and up-to-date
    if (typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = { "required": ["museutils.js", "museconfig.js", "jquery.watch.js", "jquery.museresponsive.js", "require.js", "index.css"], "outOfDate": [] };
</script>

<title>Домашняя</title>
<!-- CSS -->


    <link rel="stylesheet" href="~/css/container/site_global.css?crc=444006867" />
    <link rel="stylesheet" href="~/css/container/index.css?crc=221334264" id="pagesheet" />

<!-- IE-only CSS -->
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="css/nomq_index.css?crc=284178555" id="nomq_pagesheet"/>
<![endif]-->
<!-- Other scripts -->
<script type="text/javascript">
    var __adobewebfontsappname__ = "muse";
</script>
<!-- JS includes -->
<script src="https://webfonts.creativecloud.com/black-ops-one:n4:all.js" type="text/javascript"></script>

        
    
<div class="breakpoint active" id="bp_infinity" data-min-width="1025">
    <!-- responsive breakpoint node -->
    <div class="clearfix borderbox" id="page">
        <!-- group -->
        <div class="clearfix grpelem" id="pu134">
            <!-- column -->
            <div class="browser_width colelem" id="u134-bw">
                <div class="shadow" id="u134">
                    <!-- group -->
                    <div class="clearfix" id="u134_align_to_page">
                        <a class="anchor_item grpelem shared_content" id="main" data-sizePolicy="fixed" data-pintopage="page_fluidx" data-content-guid="main_content"></a>
                        <div class="clearfix grpelem" id="pu137-4">
                            <!-- group -->
                            <div class="clearfix grpelem shared_content" id="u137-4" data-content-guid="u137-4_content">
                                <!-- content -->
                                <p>SmartBox</p>
                            </div>
                            <div class="clearfix grpelem shared_content" id="u5855-4" data-content-guid="u5855-4_content">
                                <!-- content -->
                                <p>Контейнер-трансформер</p>
                            </div>
                        </div>
                        <a href="https://iot.tmc-centert.ru/" class="nonblock nontext anim_swing clearfix grpelem shared_content" id="u3941-4" target="_blank" data-content-guid="u3941-4_content"><!-- content --><p id="u3941-2">Главная</p></a>
                        <a class="nonblock nontext anim_swing clearfix grpelem shared_content" id="u4025-4" href="index.html#main" target="_blank" data-content-guid="u4025-4_content"><!-- content --><p id="u4025-2">Отзывы</p></a>
                        <a class="nonblock nontext anim_swing clearfix grpelem shared_content" id="u4039-4" href="index.html#main" target="_blank" data-content-guid="u4039-4_content"><!-- content --><p id="u4039-2">О нас</p></a>
                        <a class="nonblock nontext anim_swing clearfix grpelem shared_content" id="u6288-4" href="index.html#main" target="_blank" data-content-guid="u6288-4_content"><!-- content --><p id="u6288-2">Контакты</p></a>
                        <a class="nonblock nontext anim_swing clearfix grpelem shared_content" id="u4053-4" href="index.html#main" target="_blank" data-content-guid="u4053-4_content"><!-- content --><p id="u4053-2">Отследить заказ</p></a>
                        <div class="clearfix grpelem shared_content" id="u446-8" data-content-guid="u446-8_content">
                            <!-- content -->
                            <p id="u446-2">ТЕЛ. +7 863 522 20 53</p>
                            <p>Звонок со всех регионов РФ бесплатный</p>
                            <p>email:&nbsp; smartbox@mail.ru</p>
                        </div>
                        <div class="clearfix grpelem shared_content" id="u3912-4" data-content-guid="u3912-4_content">
                            <!-- content -->
                            <a href="Auth.html"><span id="u3912">Личный кабинет</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix colelem shared_content" id="u199-4" data-content-guid="u199-4_content">
                <!-- content -->
                <p>ВНУТРИГОРОДСКИЕ КОНТЕЙНЕРНЫЕ ПЕРЕВОЗКИ</p>
            </div>
            <div class="clearfix colelem" id="pu100">
                <!-- group -->
                <div class="clip_frame grpelem" id="u100">
                    <!-- image -->
                    <img class="block temp_no_img_src" id="u100_img" data-orig-src="img/container/optovaya_torgovlya_tovarami_v_donecke_dnr_luganske_lnr_donbasse_0.jpg?crc=3806143452" alt="" data-heightwidthratio="0.5626880641925778" data-image-width="997" data-image-height="561" src="img/container/blank.gif?crc=4208392903" />
                </div>
                <div class="shadow rounded-corners clearfix grpelem shared_content" id="u94" data-content-guid="u94_content">
                    <!-- group -->
                    <a class="nonblock nontext clearfix grpelem" href="~/Calculator.html" id="u129-4"><!-- content --><p id="u129-2">Калькулятор стоимости перевозок</p></a>
                </div>
            </div>
            <div class="clearfix colelem" id="pu5831">
                <!-- group -->
                <div class="browser_width grpelem" id="u5831-bw">
                    <div id="u5831" class="shared_content" data-content-guid="u5831_content"><!-- simple frame --></div>
                </div>
                <div class="clearfix grpelem shared_content" id="u5851-4" data-content-guid="u5851-4_content">
                    <!-- content -->
                    <p>КАК ПРОИСХОДИТ ДОСТАВКА</p>
                </div>
                <div class="shadow clearfix grpelem" id="u5891">
                    <!-- column -->
                    <div class="position_content" id="u5891_position_content">
                        <div class="clearfix colelem shared_content" id="u5895-4" data-content-guid="u5895-4_content">
                            <!-- content -->
                            <p>Шаг 1</p>
                        </div>
                        <div class="clearfix colelem shared_content" id="u5899-4" data-content-guid="u5899-4_content">
                            <!-- content -->
                            <p>Расчет стоимости перевозки</p>
                        </div>
                        <div class="clearfix colelem shared_content" id="u5903-4" data-content-guid="u5903-4_content">
                            <!-- content -->
                            <p>Заполните форму калькулятора стоимости перевозок, и наша система подбирет оптимальный для вас маршрут и предоставит точную стоимость перевозки.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow clearfix grpelem" id="u5931">
                    <!-- column -->
                    <div class="clearfix colelem shared_content" id="u5932-4" data-content-guid="u5932-4_content">
                        <!-- content -->
                        <p>Шаг 2</p>
                    </div>
                    <div class="clearfix colelem shared_content" id="u5933-4" data-content-guid="u5933-4_content">
                        <!-- content -->
                        <p>Доставка контейнера заказчику</p>
                    </div>
                    <div class="clip_frame colelem" id="u6124">
                        <!-- image -->
                        <img class="block temp_no_img_src" id="u6124_img" data-orig-src="img/container/%d1%8b%d0%b2%d0%b0%d0%bf%d1%8b%d0%b2%d0%b0%d0%bf.jpg?crc=19511726" alt="" data-heightwidthratio="0.42105263157894735" data-image-width="209" data-image-height="88" src="img/container/blank.gif?crc=4208392903" />
                    </div>
                    <div class="clearfix colelem shared_content" id="u5934-4" data-content-guid="u5934-4_content">
                        <!-- content -->
                        <p>Подача контейнера заказчику под погрузку.</p>
                    </div>
                </div>
                <div class="shadow clearfix grpelem" id="u5993">
                    <!-- column -->
                    <div class="clearfix colelem shared_content" id="u5994-4" data-content-guid="u5994-4_content">
                        <!-- content -->
                        <p>Шаг 4</p>
                    </div>
                    <div class="clearfix colelem" id="pu5995-4">
                        <!-- group -->
                        <div class="clearfix grpelem shared_content" id="u5995-4" data-content-guid="u5995-4_content">
                            <!-- content -->
                            <p>Транспортировка контейнера</p>
                        </div>
                        <div class="clearfix grpelem shared_content" id="u5996-4" data-content-guid="u5996-4_content">
                            <!-- content -->
                            <p>Выдача трек-номера. Транспортировка контейнера с постоянным&nbsp; его отслеживанием с помощью мобильного приложения или веб-интерфейса.</p>
                        </div>
                        <div class="clip_frame grpelem" id="u6176">
                            <!-- image -->
                            <img class="block temp_no_img_src" id="u6176_img" data-orig-src="img/container/konteiner4.png?crc=183970409" alt="" data-heightwidthratio="0.6310679611650486" data-image-width="206" data-image-height="130" src="img/container/blank.gif?crc=4208392903" />
                        </div>
                    </div>
                </div>
                <div class="shadow clearfix grpelem" id="u6022">
                    <!-- column -->
                    <div class="clearfix colelem shared_content" id="u6023-4" data-content-guid="u6023-4_content">
                        <!-- content -->
                        <p>Шаг 5</p>
                    </div>
                    <div class="clearfix colelem shared_content" id="u6024-4" data-content-guid="u6024-4_content">
                        <!-- content -->
                        <p>Доставка контейнера получателю</p>
                    </div>
                    <div class="clip_frame colelem" id="u6232">
                        <!-- image -->
                        <img class="block temp_no_img_src" id="u6232_img" data-orig-src="img/container/%d1%8b%d0%b2%d0%b0%d0%bf.jpg?crc=79286467" alt="" data-heightwidthratio="0.28846153846153844" data-image-width="208" data-image-height="60" src="img/container/blank.gif?crc=4208392903" />
                    </div>
                    <div class="clearfix colelem shared_content" id="u6025-4" data-content-guid="u6025-4_content">
                        <!-- content -->
                        <p>Доставка контейнера до пункта назначения и выдача пин-кода для открытия дверей.</p>
                    </div>
                </div>
                <div class="clip_frame grpelem" id="u6092">
                    <!-- image -->
                    <img class="block temp_no_img_src" id="u6092_img" data-orig-src="img/container/knopka-rasschitat.png?crc=242026764" alt="" data-heightwidthratio="0.4430379746835443" data-image-width="237" data-image-height="105" src="img/container/blank.gif?crc=4208392903" />
                </div>
                <div class="shadow clearfix grpelem" id="u6314">
                    <!-- column -->
                    <div class="clearfix colelem shared_content" id="u6315-4" data-content-guid="u6315-4_content">
                        <!-- content -->
                        <p>Шаг 3</p>
                    </div>
                    <div class="clearfix colelem" id="pu6316-4">
                        <!-- group -->
                        <div class="clearfix grpelem shared_content" id="u6316-4" data-content-guid="u6316-4_content">
                            <!-- content -->
                            <p>Заполнение контейнера грузом</p>
                        </div>
                        <div class="clearfix grpelem shared_content" id="u6317-4" data-content-guid="u6317-4_content">
                            <!-- content -->
                            <p>Погрузка содержимого контейнера силами грузоотправителя или предприятия-перевозчика.</p>
                        </div>
                        <div class="clip_frame grpelem" id="u6318">
                            <!-- image -->
                            <img class="block temp_no_img_src" id="u6318_img" data-orig-src="img/container/konteiner4.png?crc=183970409" alt="" data-heightwidthratio="0.6310679611650486" data-image-width="206" data-image-height="130" src="img/container/blank.gif?crc=4208392903" />
                        </div>
                    </div>
                </div>
                <div class="shadow clearfix grpelem" id="u6346">
                    <!-- column -->
                    <div class="clearfix colelem shared_content" id="u6347-4" data-content-guid="u6347-4_content">
                        <!-- content -->
                        <p>Шаг 6</p>
                    </div>
                    <div class="clearfix colelem shared_content" id="u6348-4" data-content-guid="u6348-4_content">
                        <!-- content -->
                        <p>Возвращение контейнера перевозчику</p>
                    </div>
                    <div class="clip_frame colelem" id="u6350">
                        <!-- image -->
                        <img class="block temp_no_img_src" id="u6350_img" data-orig-src="img/container/%d1%8b%d0%b2%d0%b0%d0%bf.jpg?crc=79286467" alt="" data-heightwidthratio="0.28846153846153844" data-image-width="208" data-image-height="60" src="img/container/blank.gif?crc=4208392903" />
                    </div>
                    <div class="clearfix colelem shared_content" id="u6349-4" data-content-guid="u6349-4_content">
                        <!-- content -->
                        <p>После разгрузки автомобиль-самопогрузчик заберет контейнер.</p>
                    </div>
                </div>
                <a class="nonblock nontext grpelem" id="u6488" href="~/Calculator.html" target="_blank"><!-- simple frame --></a>
            </div>
            <a class="nonblock nontext Button rounded-corners clearfix colelem shared_content" id="buttonu4195" href="~/Mobile.html" data-visibility="changed" style="visibility:hidden" data-content-guid="buttonu4195_content"><!-- container box --><div class="clearfix grpelem" id="u4196-4"><!-- content --><p>Мобильное приложение</p></div></a>
            <div class="clearfix colelem shared_content" id="u5727-4" data-content-guid="u5727-4_content">
                <!-- content -->
                <p><span id="u5727">Мобильная версия сайта</span></p>
            </div>
        </div>
        <div class="verticalspacer" data-offset-top="1329" data-content-above-spacer="1329" data-content-below-spacer="61" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
        <div class="browser_width grpelem shared_content" id="u4111-bw" data-content-guid="u4111-bw_content">
            <div id="u4111">
                <!-- group -->
                <div class="clearfix" id="u4111_align_to_page">
                    <div class="clearfix grpelem" id="u5739-4">
                        <!-- content -->
                        <p>© 2019 Все права защищены.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breakpoint" id="bp_1024" data-max-width="1024">
    <!-- responsive breakpoint node -->
    <div class="clearfix borderbox temp_no_id" data-orig-id="page">
        <!-- group -->
        <div class="clearfix grpelem temp_no_id" data-orig-id="pu134">
            <!-- column -->
            <div class="shadow clearfix colelem temp_no_id" data-orig-id="u134">
                <!-- group -->
                <div class="clearfix grpelem temp_no_id" data-orig-id="pu137-4">
                    <!-- group -->
                    <span class="clearfix grpelem placeholder" data-placeholder-for="u137-4_content"><!-- placeholder node --></span>
                    <span class="anchor_item grpelem placeholder" data-placeholder-for="main_content"><!-- placeholder node --></span>
                    <span class="clearfix grpelem placeholder" data-placeholder-for="u5855-4_content"><!-- placeholder node --></span>
                </div>
                <div class="clearfix grpelem" id="pu3941-4">
                    <!-- group -->
                    <span class="nonblock nontext anim_swing clearfix grpelem placeholder" data-placeholder-for="u3941-4_content"><!-- placeholder node --></span>
                    <span class="nonblock nontext anim_swing clearfix grpelem placeholder" data-placeholder-for="u4025-4_content"><!-- placeholder node --></span>
                    <span class="nonblock nontext anim_swing clearfix grpelem placeholder" data-placeholder-for="u4039-4_content"><!-- placeholder node --></span>
                    <span class="nonblock nontext anim_swing clearfix grpelem placeholder" data-placeholder-for="u4053-4_content"><!-- placeholder node --></span>
                    <span class="nonblock nontext anim_swing clearfix grpelem placeholder" data-placeholder-for="u6288-4_content"><!-- placeholder node --></span>
                </div>
                <div class="clearfix grpelem" id="pu446-8">
                    <!-- group -->
                    <span class="clearfix grpelem placeholder" data-placeholder-for="u446-8_content"><!-- placeholder node --></span>
                    <span class="clearfix grpelem placeholder" data-placeholder-for="u3912-4_content"><!-- placeholder node --></span>
                </div>
            </div>
            <div class="clearfix colelem temp_no_id" data-orig-id="pu100">
                <!-- group -->
                <div class="clip_frame grpelem temp_no_id" data-orig-id="u100">
                    <!-- image -->
                    <img class="block temp_no_id temp_no_img_src" data-orig-src="img/container/optovaya_torgovlya_tovarami_v_donecke_dnr_luganske_lnr_donbasse_0.jpg?crc=3806143452" alt="" data-heightwidthratio="0.5625" data-image-width="1024" data-image-height="576" data-orig-id="u100_img" src="img/container/blank.gif?crc=4208392903" />
                </div>
                <span class="clearfix grpelem placeholder" data-placeholder-for="u199-4_content"><!-- placeholder node --></span>
                <span class="shadow rounded-corners clearfix grpelem placeholder" data-placeholder-for="u94_content"><!-- placeholder node --></span>
            </div>
            <div class="clearfix colelem" id="pbuttonu4195">
                <!-- group -->
                <span class="nonblock nontext Button rounded-corners clearfix grpelem placeholder" data-placeholder-for="buttonu4195_content"><!-- placeholder node --></span>
                <span class="grpelem placeholder" data-placeholder-for="u5831_content"><!-- placeholder node --></span>
                <span class="clearfix grpelem placeholder" data-placeholder-for="u5851-4_content"><!-- placeholder node --></span>
                <div class="shadow clearfix grpelem temp_no_id" data-orig-id="u5891">
                    <!-- group -->
                    <span class="clearfix grpelem placeholder" data-placeholder-for="u5895-4_content"><!-- placeholder node --></span>
                    <span class="clearfix grpelem placeholder" data-placeholder-for="u5899-4_content"><!-- placeholder node --></span>
                    <span class="clearfix grpelem placeholder" data-placeholder-for="u5903-4_content"><!-- placeholder node --></span>
                    <div class="shadow clearfix grpelem temp_no_id" data-orig-id="u5931">
                        <!-- group -->
                        <span class="clearfix grpelem placeholder" data-placeholder-for="u5932-4_content"><!-- placeholder node --></span>
                        <span class="clearfix grpelem placeholder" data-placeholder-for="u5933-4_content"><!-- placeholder node --></span>
                        <span class="clearfix grpelem placeholder" data-placeholder-for="u5934-4_content"><!-- placeholder node --></span>
                        <div class="shadow clearfix grpelem temp_no_id" data-orig-id="u5993">
                            <!-- group -->
                            <span class="clearfix grpelem placeholder" data-placeholder-for="u5994-4_content"><!-- placeholder node --></span>
                            <span class="clearfix grpelem placeholder" data-placeholder-for="u5995-4_content"><!-- placeholder node --></span>
                            <span class="clearfix grpelem placeholder" data-placeholder-for="u5996-4_content"><!-- placeholder node --></span>
                            <div class="shadow clearfix grpelem temp_no_id" data-orig-id="u6022">
                                <!-- group -->
                                <span class="clearfix grpelem placeholder" data-placeholder-for="u6023-4_content"><!-- placeholder node --></span>
                                <span class="clearfix grpelem placeholder" data-placeholder-for="u6024-4_content"><!-- placeholder node --></span>
                                <span class="clearfix grpelem placeholder" data-placeholder-for="u6025-4_content"><!-- placeholder node --></span>
                                <div class="clip_frame grpelem temp_no_id" data-orig-id="u6092">
                                    <!-- image -->
                                    <img class="block temp_no_id temp_no_img_src" data-orig-src="img/container/knopka-rasschitat.png?crc=242026764" alt="" data-heightwidthratio="0.4425287356321839" data-image-width="174" data-image-height="77" data-orig-id="u6092_img" src="img/container/blank.gif?crc=4208392903" />
                                </div>
                                <div class="shadow clearfix grpelem temp_no_id" data-orig-id="u6314">
                                    <!-- group -->
                                    <span class="clearfix grpelem placeholder" data-placeholder-for="u6315-4_content"><!-- placeholder node --></span>
                                    <span class="clearfix grpelem placeholder" data-placeholder-for="u6316-4_content"><!-- placeholder node --></span>
                                    <span class="clearfix grpelem placeholder" data-placeholder-for="u6317-4_content"><!-- placeholder node --></span>
                                    <div class="shadow clearfix grpelem temp_no_id" data-orig-id="u6346">
                                        <!-- column -->
                                        <div class="clearfix colelem" id="pu6347-4">
                                            <!-- group -->
                                            <span class="clearfix grpelem placeholder" data-placeholder-for="u6347-4_content"><!-- placeholder node --></span>
                                            <span class="clearfix grpelem placeholder" data-placeholder-for="u6348-4_content"><!-- placeholder node --></span>
                                        </div>
                                        <span class="clearfix colelem placeholder" data-placeholder-for="u6349-4_content"><!-- placeholder node --></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="nonblock nontext clearfix grpelem temp_no_id" href="~/Calculator.html" target="_blank" data-orig-id="u6488"><!-- group --><span class="clearfix grpelem placeholder" data-placeholder-for="u5727-4_content"><!-- placeholder node --></span></a>
                </div>
                <div class="clip_frame grpelem temp_no_id" data-orig-id="u6124">
                    <!-- image -->
                    <img class="block temp_no_id temp_no_img_src" data-orig-src="img/container/%d1%8b%d0%b2%d0%b0%d0%bf%d1%8b%d0%b2%d0%b0%d0%bf.jpg?crc=19511726" alt="" data-heightwidthratio="0.42" data-image-width="150" data-image-height="63" data-orig-id="u6124_img" src="img/container/blank.gif?crc=4208392903" />
                </div>
                <div class="clip_frame grpelem temp_no_id" data-orig-id="u6176">
                    <!-- image -->
                    <img class="block temp_no_id temp_no_img_src" data-orig-src="img/container/konteiner4.png?crc=183970409" alt="" data-heightwidthratio="0.6283783783783784" data-image-width="148" data-image-height="93" data-orig-id="u6176_img" src="img/container/blank.gif?crc=4208392903" />
                </div>
                <div class="clip_frame grpelem temp_no_id" data-orig-id="u6232">
                    <!-- image -->
                    <img class="block temp_no_id temp_no_img_src" data-orig-src="img/container/%d1%8b%d0%b2%d0%b0%d0%bf.jpg?crc=79286467" alt="" data-heightwidthratio="0.2866666666666667" data-image-width="150" data-image-height="43" data-orig-id="u6232_img" src="img/container/blank.gif?crc=4208392903" />
                </div>
                <div class="clip_frame grpelem temp_no_id" data-orig-id="u6318">
                    <!-- image -->
                    <img class="block temp_no_id temp_no_img_src" data-orig-src="img/container/konteiner4.png?crc=183970409" alt="" data-heightwidthratio="0.6283783783783784" data-image-width="148" data-image-height="93" data-orig-id="u6318_img" src="img/container/blank.gif?crc=4208392903" />
                </div>
                <div class="clip_frame grpelem temp_no_id" data-orig-id="u6350">
                    <!-- image -->
                    <img class="block temp_no_id temp_no_img_src" data-orig-src="img/container/%d1%8b%d0%b2%d0%b0%d0%bf.jpg?crc=79286467" alt="" data-heightwidthratio="0.2866666666666667" data-image-width="150" data-image-height="43" data-orig-id="u6350_img" src="img/container/blank.gif?crc=4208392903" />
                </div>
            </div>
        </div>
        <div class="verticalspacer" data-offset-top="1214" data-content-above-spacer="1174" data-content-below-spacer="62" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
        <span class="browser_width grpelem placeholder" data-placeholder-for="u4111-bw_content"><!-- placeholder node --></span>
    </div>
</div>

<!-- Signup Modal -->
<!--Модальное окно-->
<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center form-title" id="exampleModalLabel">Регистрация</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body padtrbl">
                @*<p class="register-box-msg">Зарегестрируйтесь для дальнейшей сессии</p>*@
                <partial name="~/Views/Account/Register.cshtml" />
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-green btn-block btn-flat">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

<script type="text/javascript">
    // Decide whether to suppress missing file error or not based on preference setting
    var suppressMissingFileError = false
</script>
<script type="text/javascript">
    window.Muse.assets.check = function (c) {
        if (!window.Muse.assets.checked) {
            window.Muse.assets.checked = !0; var b = {}, d = function (a, b) { if (window.getComputedStyle) { var c = window.getComputedStyle(a, null); return c && c.getPropertyValue(b) || c && c[b] || "" } if (document.documentElement.currentStyle) return (c = a.currentStyle) && c[b] || a.style && a.style[b] || ""; return "" }, a = function (a) {
                if (a.match(/^rgb/)) return a = a.replace(/\s+/g, "").match(/([\d\,]+)/gi)[0].split(","), (parseInt(a[0]) << 16) + (parseInt(a[1]) << 8) + parseInt(a[2]); if (a.match(/^\#/)) return parseInt(a.substr(1),
                    16); return 0
            }, f = function (f) {
                for (var g = document.getElementsByTagName("link"), j = 0; j < g.length; j++)if ("text/css" == g[j].type) { var l = (g[j].href || "").match(/\/?css\/([\w\-]+\.css)\?crc=(\d+)/); if (!l || !l[1] || !l[2]) break; b[l[1]] = l[2] } g = document.createElement("div"); g.className = "version"; g.style.cssText = "display:none; width:1px; height:1px;"; document.getElementsByTagName("body")[0].appendChild(g); for (j = 0; j < Muse.assets.required.length;) {
                    var l = Muse.assets.required[j], k = l.match(/([\w\-\.]+)\.(\w+)$/), i = k && k[1] ?
                        k[1] : null, k = k && k[2] ? k[2] : null; switch (k.toLowerCase()) { case "css": i = i.replace(/\W/gi, "_").replace(/^([^a-z])/gi, "_$1"); g.className += " " + i; i = a(d(g, "color")); k = a(d(g, "backgroundColor")); i != 0 || k != 0 ? (Muse.assets.required.splice(j, 1), "undefined" != typeof b[l] && (i != b[l] >>> 24 || k != (b[l] & 16777215)) && Muse.assets.outOfDate.push(l)) : j++; g.className = "version"; break; case "js": j++; break; default: throw Error("Unsupported file type: " + k); }
                } c ? c().jquery != "1.8.3" && Muse.assets.outOfDate.push("jquery-1.8.3.min.js") : Muse.assets.required.push("jquery-1.8.3.min.js");
                g.parentNode.removeChild(g); if (Muse.assets.outOfDate.length || Muse.assets.required.length) g = "Некоторые файлы на сервере могут отсутствовать или быть некорректными. Очистите кэш-память браузера и повторите попытку. Если проблему не удается устранить, свяжитесь с разработчиками сайта.", f && Muse.assets.outOfDate.length && (g += "\nOut of date: " + Muse.assets.outOfDate.join(",")), f && Muse.assets.required.length && (g += "\nMissing: " + Muse.assets.required.join(",")), suppressMissingFileError ? (g += "\nUse SuppressMissingFileError key in AppPrefs.xml to show missing file error pop up.", console.log(g)) : alert(g)
            }; location && location.search && location.search.match && location.search.match(/muse_debug/gi) ?
                setTimeout(function () { f(!0) }, 5E3) : f()
        }
    };
    var muse_init = function () {
        require.config({ baseUrl: "" }); require(["jquery", "museutils", "whatinput", "jquery.watch", "jquery.museresponsive"], function (c) {
            var $ = c; $(document).ready(function () {
                try {
                    window.Muse.assets.check($);/* body */
                    Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
                    Muse.Utils.prepHyperlinks(true);/* body */
                    Muse.Utils.resizeHeight('.browser_width');/* resize height */
                    Muse.Utils.requestAnimationFrame(function () { $('body').addClass('initialized'); });/* mark body as initialized */
                    Muse.Utils.makeButtonsVisibleAfterSettingMinWidth();/* body */
                    Muse.Utils.fullPage('#page');/* 100% height page */
                    $('.breakpoint').registerBreakpoint();/* Register breakpoints */
                    Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
                } catch (b) { if (b && "function" == typeof b.notify ? b.notify() : Muse.Assert.fail("Error calling selector function: " + b), false) throw b; }
            })
        })
    };

</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/container/require.js?crc=7928878" type="text/javascript" async data-main="js/container/museconfig.js?crc=4286661555" onload="if (requirejs) requirejs.onError = function(requireType, requireModule) { if (requireType && requireType.toString && requireType.toString().indexOf && 0 <= requireType.toString().indexOf('#scripterror')) window.Muse.assets.check(); }" onerror="window.Muse.assets.check();"></script>