@{
    ViewData["Title"] = "Мобильное";
}


    <div class="auth-container" id="calculatorBox">
        <div class="container auth-box">
            <a class="btn-dowload-app btn btn-primary" href="~/download/SmartBoxCity.SmartBoxCity-Signed.apk">Загрузить имитатор</a>
            <a class="btn-dowload-app btn btn-primary" href="~/download/com.companyname.smartboxcity-Signed.apk">Загрузить мобильное приложение</a>

            <h2 class="my-4">Контактная информация</h2>
            <hr class="my-2">
            <h4>Адрес эл. почты</h4>
            <p class="glyphicon-text-color">dasha.yakovleva.2013@list.ru</p>
            <h4>Связаться ВКонтакте</h4>
            <a class="fa-vk" href="http://vk.com/daryayakovlevadarya">Дарья Яковлева</a>
            <a href="https://vk.com/id267209031">Илья Головко</a>
        </div>
    </div>   