@{
    ViewData["Title"] = "Privacy Policy";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.timer.js"></script>
<script src="~/js/pages/UserPage.js"></script>

<h1>@ViewData["Title"]</h1>


<p>Use this page to detail your site's privacy policy.</p>


