@model Entities.ViewModels.AccountViewModels.RegisterViewModel

@{
    //Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Регистрация";
}

<section id="register">
    <div class="container">
        <div align="center">
            <div class="col-lg-5 form">
                <div class="block">
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <div asp-validation-summary="ModelOnly">
                        </div>
                        <div>
                            @*<label asp-for="Email"></label><br />*@
                            <input asp-for="Email" placeholder="Электронная почта" data-val="true" data-val-required="" class="form-control" type="email" autocomplete="off" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <br />
                        <div>
                            <input asp-for="FirstName" placeholder="Имя" class="form-control" type="text" autocomplete="off" />
                            <span asp-validation-for="FirstName"></span>
                        </div>
                        <br />
                        <div>
                            <input asp-for="LastName" placeholder="Фамилия" class="form-control" type="text" autocomplete="off" />
                            <span asp-validation-for="LastName"></span>
                        </div>
                        <br />
                        <div>
                            <input asp-for="Password" placeholder="Пароль" class="form-control" type="password" autocomplete="off" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <br />
                        <div>
                            <input asp-for="PasswordConfirm" placeholder="Подтвердить пароль" class="form-control" type="password" autocomplete="off" />
                            <span asp-validation-for="PasswordConfirm"></span>
                        </div>
                        <br />
                        <div align="left">
                             <select class="custom-select" id="inputGroupSelect01" name="RoleName">
                                 <option selected>Выберите роль</option>
                                 <option value="admin">Администратор</option>
                                 <option value="user">Клиент</option>
                                 <option value="driver">Водитель</option>
                             </select>
                        </div>
                        <br />
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-success btn-default" value="Регистрация">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>